@import "variables";

.segment {
  margin: auto;
  padding-bottom: 36px;
  &--first {
    padding-top: 30px;
  }
  max-width: 880px;
  &__text {
    font-size: 18px;
    max-width: 36em;
    margin: 36px 20px;
    line-height: 26px;
  }

  &__links {
    font-size: 18px;
    font-weight: 500;
    margin-left: -15px;
    margin-right: -15px;

    @media (min-width: $mobileBreakpoint + 1) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__link {
    transition: background-color 300ms ease-in-out;
    text-decoration: none;
    background-color: $libertyGreen;
    color: $queensBlue;
    display: inline-block;
    width: 180px;
    line-height: 50px;

    &:hover {
      background-color: $darkLibertyGreen;
    }

    @media (max-width: $mobileBreakpoint) {
      display: block;
      margin: auto;
      margin-bottom: 24px;
    }

    &--last {
      @media (max-width: $mobileBreakpoint) {
        margin-bottom: 0;
      }
    }
  }
}

img.logo {
  max-height: 357px;
}
