@import "variables";

.segment {
  margin: auto;
  padding-bottom: 30px;
  &--first {
    padding-top: 30px;
  }
  max-width: 880px;
  &__text {
    font-size: 18px;
    max-width: 36em;
    margin: 30px auto;
    font-weight: 600;
    line-height: 1.44;
  }

  &__links {
    color: $queensYellow;
    font-size: 18px;
    font-weight: 600;
  }

  &__link {
    transition: color 300ms ease-in-out;
    text-decoration: none;
    color: $queensYellow;
    margin-right: 58px;

    &:hover {
      color: $dimYellow;
    }

    @media (max-width: $mobileBreakpoint) {
      display: block;
      margin: auto;
      margin-bottom: 40px;
    }

    &--last {
      margin-right: 0;
      
      @media (max-width: $mobileBreakpoint) {
        margin-bottom: 0;
      }
    }
  }
}

img.logo {
  max-height: 357px;
}
