@import url('https://fonts.googleapis.com/css?family=Muli:400,600&display=swap');
@import "variables";

.App {
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Muli', sans-serif;
  text-rendering: optimizeLegibility;
  color: white;
  letter-spacing: 0em;

  @media (max-width: $mobileBreakpoint) {
    overflow: scroll;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
}

img.background {
  height: 100%;
  position: fixed;

  @media (max-width: $mobileBreakpoint) {
    position: relative;
    height: auto;
    left: -20%;
    width: 140%;
  }
}

.content {
  height: 100%;
  position: absolute;
  background-color: $queensBlue;
  width: 50%;
  min-width: 700px;
  overflow-y: scroll;

  @media (max-width: $mobileBreakpoint) {
    height: auto;
    min-width: unset;
    overflow: hidden;
    width: 100%;
    position: relative;
  }

  .container {
    padding: 25px 60px;
    position: relative;
    box-sizing: border-box;
    height: auto;
    @media (max-width: $mobileBreakpoint) {
      padding: 25px 30px;
    }
  }
}

