.social {
  padding-top: 30px;

  &__wrapper {
    width: 28px;
    height: 28px;
    box-sizing: content-box;
    display: inline-block;
    border-radius: 15px;
    color: rgb(183,228,207);
    margin: 0 4px;
    transition: background-color 170ms ease-in-out, color 170ms ease-in-out;

    &--dim {
      color: rgba(183,228,207,0.4);
    }

    &:hover {
      color: rgb(183,228,207);
    }
  }

  &__icon {
    line-height: 28px;
    vertical-align: bottom;
    font-size: 15px;
  }
}
