@import "variables";

.social {
  margin: auto;
  margin-top: 6px;
  display: inline-block;

  @media (max-width: $mobileBreakpoint) {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  }

  &__wrapper {
    width: 39px;
    height: 39px;
    display: inline-flex;
    margin: 0 12px;
    transition: background-color 300ms ease-in-out;
    background-color: $queensYellow;
    border-radius: 20px;

    &--dim {
      background-color: $darkQueensYellow;
    }

    &:hover {
      background-color: $queensYellow;
    }
  }

  &__icon {
    margin: auto;
  }
}
