
// colors
$queensYellow: #f1ad03;
$errorRed: #b61b28;
$queensBlue: #1b1a33;
$lightQueensBlue: #232444;
$libertyGreen: #b7e4cf;
$darkLibertyGreen: #81D0AB;
$darkQueensYellow: #A67702;

$mobileBreakpoint: 767px;

